<a href="https://colab.research.google.com/github/Anna72/ML_1_term/blob/main/ml.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
newt = [8,4,11,20]
import numpy as np
from sklearn.linear_model import LinearRegression

X = np.array([13,4,11,20]).reshape((-1, 1))
y = np.array([8,5,6,15])
reg = LinearRegression().fit(X, y)
q1 = reg.intercept_ 
reg.intercept_

0.9307692307692337

In [ ]:
q0 = reg.coef_
reg.coef_

array([0.63076923])

In [ ]:
from math import sqrt
q0 = 121/130
q1 = 82/130
s = 0
for i in range(4):
  s+= pow((y[i] - q0 - q1*X[i]), 2)
s = sqrt(s/2)

xmean  = 12
s1 = 0
for i in range(4):
  s1 += pow( (X[i] - xmean ), 2)
s1 = sqrt(pow(xmean,2)/s1 + (1/4))

se0 = s * s1
se0
#se0 = Standart error FOR q0

2.5095026499878137

In [ ]:
s2 = 0
for i in range(4):
  s2 += pow( X[i] - xmean , 2)

s2 = sqrt(1/s2)  

se1 = s * s2
se1
#se1 = Standart error FOR q1
# t (1 - e/2) = 4.303 if e = 0.05

0.18889275627397964

In [ ]:
t  = 4.303
# calculating confidence intervals for q0 q1 
l0 = q0 - t*se0
r0 = q0 + t*se0
l1 = q1 - t*se1
r1 = q1 + t*se1
print (l0,' = l0',r0, ' = ro')
print (l1,' = l1',r1, ' = r1')

-9.86762067212833  = l0 11.729159133666792  = ro
-0.1820362994777036  = l1 1.443574761016165  = r1

In [ ]:
t1 = abs(q1)/se1
# t student = 4.303
# t for hypotesis = 3.339
# th < ts
# H0 accepted Ha rejected
t1

3.3392981457390087

In [ ]:
rse = 0 # residual standart error 
R2 = 0 # R^2 statistics
for i in range(4):
  rse += pow((y[i] - q0 - q1*X[i]), 2)
  R2 += pow((y[i] - 8.5), 2)
R2 = 1 - rse/R2  
rse = sqrt(rse/2)
print(rse)
print(R2)

2.153708786828326
[0.84791929]

In [ ]:
import numpy as np
from sklearn.linear_model import LinearRegression
#id,X,Y
#1,14,36
#2,21,49
#3,25,72
#4,8,24
#5,20,56
#6,18,48
#7,17,51
#8,3,10
#9,1,3
#10,10,32
X = np.array([14,21,25,8,20,18,17,3,1,10]).reshape((-1, 1))
y = np.array([36,49,72,24,56,48,51,10,3,32])
reg = LinearRegression().fit(X, y)
Xmean = 13.7
Ymean = 38.1
print('X mean = ', sum(X)/len(X))
print('Y mean = ',sum(y)/len(y))
q1 = reg.intercept_ 
q0 = reg.coef_
print('q1 = ',q1)
print('q0 = ',q0)
q11 = 0
q12 = 0 
for i in range(10):
  q11 += (X[i] - Xmean)*(y[i] - Ymean)
  q12 += pow((X[i] - Xmean), 2)
q11 = q11/q12
print('q11 = ',q11)  
q00  = Ymean - q11*Xmean
print('q00 = ',q00)

X mean =  [13.7]
Y mean =  38.1
q1 =  1.9570005243838509
q0 =  [2.63817514]
q11 =  [2.63817514]
q00 =  [1.95700052]

In [ ]:
from math import sqrt
Q0 = q00[0]
q1 = q11[0]
rse = 0
R2 = 0 # R^2 statistics
for i in range(10):
  rse += pow((y[i] - Q0 - q1*X[i]), 2)
  R2 += pow((y[i] - Ymean), 2)
R2 = 1 - rse/R2  
rse = sqrt(rse/2)
#print(rse)
print('R^2 stasistics = ', R2)

R^2 stasistics =  [0.96765359]

R^2 = 1 - sum(Yi-qo - q1*xi)^2 /  sum(Yi - Ymean)^2
[0.72127153]

In [ ]:
import pandas as pd
#multivariate linear regression
data = pd.read_csv("candy-data.csv", encoding = 'utf-8', delimiter=',')
data.head(5)

  competitorname  chocolate  fruity  ...  pricepercent  winpercent  Y
0      100 Grand          1       0  ...         0.860   66.971725  1
1   3 Musketeers          1       0  ...         0.511   67.602936  1
2       One dime          0       0  ...         0.116   32.261086  0
3    One quarter          0       0  ...         0.511   46.116505  0
4      Air Heads          0       1  ...         0.511   52.341465  1

[5 rows x 14 columns]

The provided dataset consists of the Halloween candy ranking (of the best, or at least the most popular, sweets in America). Train the multivariate linear regression model. The predictors are as follows:
chocolate, 
fruity, 
caramel, 
peanutyalmondy, 
nougat, 
crispedricewafer,
hard, 
bar, 
pluribus,
sugarpercent, 
pricepercent, 
the response is winpercent.

As a training set, use the data from the file. Do not include the following candies: 
Dum Dums, 
Nestle Smarties. 
Train the model. In Azure ML Studio, specify the random seed = 2019 in the parameters of Linear Regression item.

Enter the predicted value of winpercent for Dum Dums:

In [ ]:
for i in range(len(data)):
  if data['competitorname'][i] == 'Dum Dums' :
    print(i)
for i in range(len(data)):
  if data['competitorname'][i] == 'Nestle Smarties' :
    print(i)

14
62

In [ ]:
from sklearn.linear_model import LinearRegression
data1 = data.drop([14,62], axis = 0)
X = data1[['chocolate', 'fruity', 'caramel', 'peanutyalmondy', 'nougat', 'crispedricewafer', 'hard', 'bar', 'pluribus', 'sugarpercent', 'pricepercent']]
Y = data1['winpercent']
regr = LinearRegression().fit(X,Y)

In [ ]:
print('Intercept: \n', regr.intercept_)
print('Coefficients: \n', regr.coef_)

Intercept:
 36.48405900584099
Coefficients:
 [26.94376642 10.65140001 -2.60276484  6.97589394  4.67168507 10.45125208
 -6.93737108 -7.61767696 -4.02390879 10.56907617 -7.10381969]

In [ ]:
np.array(data.loc[14, :])

array(['Dum Dums', 0, 1, 0, 0, 0, 0, 1, 0, 0, 0.73199999, 0.034000002,
       39.460556, 0], dtype=object)

In [ ]:
data.loc[14, :]

competitorname      Dum Dums
chocolate                  0
fruity                     1
caramel                    0
peanutyalmondy             0
nougat                     0
crispedricewafer           0
hard                       1
bar                        0
pluribus                   0
sugarpercent           0.732
pricepercent           0.034
winpercent           39.4606
Y                          0
Name: 14, dtype: object

In [ ]:
np.array(data.loc[62, :])

array(['Nestle Smarties', 1, 0, 0, 0, 0, 0, 0, 0, 1, 0.26699999,
       0.97600001, 37.887188, 0], dtype=object)

In [ ]:
print ('Nestle Smarties = ', regr.predict([[1, 0, 0, 0, 0, 0, 0, 0, 1, 0.26699999, 0.97600001]]))
print ('temp = ', regr.predict([[1, 1, 1, 1, 0, 1, 0, 0, 0, 0.128, 0.37]]))
print ('Dum Dums', regr.predict([[0, 1, 0, 0, 0, 0, 1, 0, 0, 0.73199999, 0.034000002]]))

Nestle Smarties =  [55.29253178]
temp =  [87.62803508]
Dum Dums [47.69312171]

In [ ]:
data = pd.read_csv("salary_and_population.csv", encoding = 'utf-8', delimiter=',')
print(data.head(5))
for i in range(len(data)):
  if data['Region_EN'][i] == 'Altai Republic' :
    print(i)
  if data['Region_EN'][i] == 'Magadan Region' :
    print(i)

               Region_RU           Region_EN  ...  Population  Unnamed: 4
0         Алтайский край        Altai Region  ...      218866         NaN
1       Амурская область         Amur Region  ...      793194         NaN
2  Архангельская область  Arkhangelsk Region  ...     1144119         NaN
3   Астраханская область    Astrakhan Region  ...     1014065         NaN
4   Белгородская область     Belgorod Region  ...     1547418         NaN

[5 rows x 5 columns]
31
46

In [ ]:
data1 = data.drop([31,46], axis = 0)

In [ ]:
print (data1['AVG_Salary'].mean())
print (data1['AVG_Salary'].median())
#variance
print (data1['AVG_Salary'].var(ddof = 0))
#standart deviation
print (data1['AVG_Salary'].std(ddof = 0))

38087.67469879518
32473.0
226057310.77369726
15035.20238552502